Q.1) SOLUTION BELOW

In [ ]:
def reverse_string(string):
  """Reverses a given string.

  Args:
    string: The string to be reversed.

  Returns:
    The reversed string.
  """

  reversed_string = ""
  for char in string[::-1]:
    reversed_string += char
  return reversed_string

Q.2) SOLUTION BELOW

In [ ]:
def count_vowels(s):
    vowels = "aeiouAEIOU"  # List of vowels (both lowercase and uppercase)
    count = 0

    # Iterate through each character in the string
    for char in s:
        if char in vowels:
            count += 1

    return count

# Example usage
input_string = "Hello, how many vowels are in this sentence?"
result = count_vowels(input_string)
print(f"The number of vowels in the string is: {result}")

The number of vowels in the string is: 13

Q.3) SOLUTION BELOW

In [ ]:
def is_palindrome(s):
    # Remove spaces and convert to lowercase for uniform comparison
    s = s.replace(" ", "").lower()

    # Compare the string with its reverse
    return s == s[::-1]

# Example usage
input_string = "A man a plan a canal Panama"
if is_palindrome(input_string):
    print(f"'{input_string}' is a palindrome.")
else:
    print(f"'{input_string}' is not a palindrome.")

'A man a plan a canal Panama' is a palindrome.

Q,4) SOLUTION BELOW

In [ ]:
def are_anagrams(str1, str2):
    # Remove spaces and convert to lowercase to ensure uniform comparison
    str1 = str1.replace(" ", "").lower()
    str2 = str2.replace(" ", "").lower()

    # Check if sorted characters of both strings are the same
    return sorted(str1) == sorted(str2)

# Example usage
string1 = "Listen"
string2 = "Silent"

if are_anagrams(string1, string2):
    print(f"'{string1}' and '{string2}' are anagrams.")
else:
    print(f"'{string1}' and '{string2}' are not anagrams.")

'Listen' and 'Silent' are anagrams.

Q.5) SOLUTION BELOW

In [ ]:
def find_substring_occurrences(main_string, substring):
    # Initialize an empty list to store the starting indices of all occurrences
    indices = []

    # Start from the beginning of the main_string and search for the substring
    start = 0
    while True:
        # Find the index of the substring starting from 'start'
        start = main_string.find(substring, start)

        # If no more occurrences are found, break out of the loop
        if start == -1:
            break

        # Append the found index to the list
        indices.append(start)

        # Move the 'start' pointer one step forward to avoid finding the same occurrence again
        start += 1

    return indices

# Example usage
main_string = "This is a test string. This is another test string."
substring = "test"

occurrences = find_substring_occurrences(main_string, substring)
if occurrences:
    print(f"The substring '{substring}' occurs at the following indices: {occurrences}")
else:
    print(f"The substring '{substring}' was not found in the main string.")

The substring 'test' occurs at the following indices: [10, 39]

Q.6) SOLUITON BELOW

In [ ]:
def compress_string(s):
    if not s:
        return s  # If the string is empty, return as it is

    compressed = []
    count = 1  # Initialize count for the first character

    # Iterate through the string starting from the second character
    for i in range(1, len(s)):
        if s[i] == s[i - 1]:  # If the current character is the same as the previous one
            count += 1
        else:
            # Append the character and the count to the compressed list
            compressed.append(s[i - 1] + str(count) if count > 1 else s[i - 1])
            count = 1  # Reset count for the next character

    # Append the last character and its count
    compressed.append(s[-1] + str(count) if count > 1 else s[-1])

    # Join the list into a string and return the compressed version
    return ''.join(compressed)

# Example usage
input_string = "11111111"
compressed_string = compress_string(input_string)
print(f"Original string: {input_string}")
print(f"Compressed string: {compressed_string}")

Original string: 11111111
Compressed string: 18

Q.7) SOLUTION BELOW

In [ ]:
def has_unique_characters(s):
    # Create a set to store characters that we have already encountered
    seen_characters = set()

    # Iterate through each character in the string
    for char in s:
        if char in seen_characters:
            # If the character is already in the set, the string has duplicates
            return False
        seen_characters.add(char)  # Add the character to the set

    # If no duplicates were found, the string has all unique characters
    return True

# Example usage
input_string = "abcdef"
if has_unique_characters(input_string):
    print(f"The string '{input_string}' has all unique characters.")
else:
    print(f"The string '{input_string}' does not have all unique characters.")

The string 'abcdef' has all unique characters.

Q.8) SOLUTION BELOW

In [ ]:
def convert_case(s, to_upper=True):
    if to_upper:
        return s.upper()  # Convert to uppercase
    else:
        return s.lower()  # Convert to lowercase

# Example usage
input_string = "Hello, World!"

# Convert to uppercase
uppercase_string = convert_case(input_string, to_upper=True)
print(f"Uppercase: {uppercase_string}")

# Convert to lowercase
lowercase_string = convert_case(input_string, to_upper=False)
print(f"Lowercase: {lowercase_string}")

Uppercase: HELLO, WORLD!
Lowercase: hello, world!

Q.9) SOLUTION BELOW

In [ ]:
def count_words(s):
    # Strip leading/trailing spaces and split the string by whitespace
    words = s.split()

    # Return the number of words
    return len(words)

# Example usage
input_string = "This is an example string."
word_count = count_words(input_string)
print(f"The number of words in the string is: {word_count}")

The number of words in the string is: 5

Q.10) SOLUTION BELOW

In [ ]:
def concatenate_strings(str1, str2):
    return ''.join([str1, str2])

# Example usage
string1 = "Hello"
string2 = "World"
result = concatenate_strings(string1, string2)
print(result)

HelloWorld

Q.11) SOLUTION BELOW

In [ ]:
def remove_element(lst, element):
  """Removes all occurrences of a specific element from a list.

  Args:
    lst: The input list.
    element: The element to be removed.

  Returns:
    The modified list with the element removed.
  """

  return [item for item in lst if item != element]

# Example usage:
my_list = [1, 2, 3, 2, 4, 2]
element_to_remove = 2
new_list = remove_element(my_list, element_to_remove)
print(new_list)

[1, 3, 4]

Q.12) SOLUTION BELOW

In [ ]:
def find_second_largest(numbers):
  """Finds the second largest number in a list of integers.

  Args:
    numbers: A list of integers.

  Returns:
    The second largest number, or None if the list is empty or has fewer than two elements.
  """

  if len(numbers) < 2:
    return None

  largest = second_largest = float('-infinity')

  for num in numbers:
    if num > largest:
      second_largest = largest
      largest = num
    elif num > second_largest and num != largest:
      second_largest = num

  return second_largest

# Example usage:
my_list = [12, 45, 23, 67, 34, 89, 21]
second_largest_num = find_second_largest(my_list)
print(second_largest_num)

67

Q.13) SOLUITON BELOW

In [ ]:
def count_occurrences(lst):
  """Counts the occurrences of each element in a list.

  Args:
    lst: The input list.

  Returns:
    A dictionary with elements as keys and their counts as values.
  """

  counts = {}
  for element in lst:
    counts[element] = counts.get(element, 0) + 1
  return counts

# Example usage:
my_list = [1, 2, 3, 2, 1, 4, 5, 1]
result = count_occurrences(my_list)
print(result)

{1: 3, 2: 2, 3: 1, 4: 1, 5: 1}

Q.14) SOLUTION BELOW

In [ ]:
def reverse_list_in_place(lst):
  """Reverses a list in-place without using built-in reverse functions.

  Args:
    lst: The list to be reversed.
  """

  left, right = 0, len(lst) - 1
  while left < right:
    lst[left], lst[right] = lst[right], lst[left]
    left += 1
    right -= 1

# Example usage:
my_list = [1, 2, 3, 4, 5]
reverse_list_in_place(my_list)
print(my_list)

[5, 4, 3, 2, 1]

Q.15) SOLUTION BELOW

In [ ]:
 def remove_duplicates_preserving_order(lst):
  """Removes duplicates from a list while preserving the original order.

  Args:
    lst: The input list.

  Returns:
    A new list with duplicates removed.
  """

  seen = set()
  result = []
  for item in lst:
    if item not in seen:
      seen.add(item)
      result.append(item)
  return result

# Example usage:
my_list = [1, 2, 3, 2, 1, 4, 5, 1]
result = remove_duplicates_preserving_order(my_list)
print(result)

[1, 2, 3, 4, 5]

Q.16) SOLUTION BELOW

In [ ]:
def is_sorted(lst):
  """Checks if a given list is sorted (ascending or descending).

  Args:
    lst: The input list.

  Returns:
    True if the list is sorted, False otherwise.
  """

  ascending = descending = True

  for i in range(1, len(lst)):
    if lst[i] < lst[i - 1]:
      ascending = False
    if lst[i] > lst[i - 1]:
      descending = False

  return ascending or descending

# Example usage:
my_list1 = [1, 2, 3, 4, 5]
my_list2 = [5, 4, 3, 2, 1]
my_list3 = [1, 3, 2, 4]

print(is_sorted(my_list1))
print(is_sorted(my_list2))
print(is_sorted(my_list3))

True
True
False

Q.17) SOLUTION BELOW|

In [ ]:
def merge_sorted_lists(list1, list2):
  """Merges two sorted lists into a single sorted list.

  Args:
    list1: The first sorted list.
    list2: The second sorted list.

  Returns:
    A new sorted list containing elements from both input lists.
  """

  merged_list = []
  i = j = 0

  while i < len(list1) and j < len(list2):
    if list1[i] < list2[j]:
      merged_list.append(list1[i])
      i += 1
    else:
      merged_list.append(list2[j])
      j += 1

  # Append remaining elements from either list
  merged_list.extend(list1[i:])
  merged_list.extend(list2[j:])

  return merged_list

# Example usage:
list1 = [1, 3, 5, 7]
list2 = [2, 4, 6, 8]
merged_list = merge_sorted_lists(list1, list2)
print(merged_list)

[1, 2, 3, 4, 5, 6, 7, 8]

Q.18) SOLUTION BELOW

In [ ]:
def intersection(list1, list2):
  """Finds the intersection of two given lists.

  Args:
    list1: The first list.
    list2: The second list.

  Returns:
    A new list containing the common elements.
  """

  set1 = set(list1)
  set2 = set(list2)
  intersection_set = set1.intersection(set2)
  return list(intersection_set)

# Example usage:
list1 = [1, 2, 3, 4, 5]
list2 = [3, 4, 5, 6, 7]
intersection_list = intersection(list1, list2)
print(intersection_list)

[3, 4, 5]

Q.19) SOLUTION BELOW

In [ ]:
def union(list1, list2):
  """Finds the union of two lists without duplicates.

  Args:
    list1: The first list.
    list2: The second list.

  Returns:
    A new list containing the unique elements from both lists.
  """

  union_set = set(list1 + list2)
  return list(union_set)

# Example usage:
list1 = [1, 2, 3, 4, 5]
list2 = [3, 4, 5, 6, 7]
union_list = union(list1, list2)
print(union_list)

[1, 2, 3, 4, 5, 6, 7]

Q.20) SOLUTION BELOW

In [ ]:
def union(list1, list2):
  """Finds the union of two lists without duplicates.

  Args:
    list1: The first list.
    list2: The second list.

  Returns:
    A new list containing the unique elements from both lists.
  """

  union_set = set(list1 + list2)
  return list(union_set)

# Example usage
list1 = [1, 2, 3, 4, 5]
list2 = [3, 4, 5, 6, 7]
union_list = union(list1, list2)
print(union_list)

[1, 2, 3, 4, 5, 6, 7]

Q.21) SOLUTION BELOW

In [ ]:
def common_elements(tuple1, tuple2):
  """Finds common elements between two tuples.

  Args:
    tuple1: The first tuple.
    tuple2: The second tuple.

  Returns:
    A new tuple containing common elements.
  """

  set1 = set(tuple1)
  set2 = set(tuple2)
  common_set = set1.intersection(set2)
  return tuple(common_set)

# Example usage:
tuple1 = (1, 2, 3, 4, 5)
tuple2 = (3, 4, 5, 6, 7)
common_tuple = common_elements(tuple1, tuple2)
print(common_tuple)

(3, 4, 5)

Q.22) SOLUTION BELOW

In [ ]:
def get_intersection(set1, set2):
  """Finds the intersection of two sets.

  Args:
    set1: The first set of integers.
    set2: The second set of integers.

  Returns:
    The intersection of the two sets.
  """

  return set1.intersection(set2)

def main():
  """Prompts the user for input, finds the intersection, and prints the result."""

  input1 = input("Enter the first set of integers, separated by commas: ")
  input2 = input("Enter the second set of integers, separated by commas: ")

  set1 = set(int(num) for num in input1.split(','))
  set2 = set(int(num) for num in input2.split(','))

  intersection_set = get_intersection(set1, set2)
  print("Intersection:", intersection_set)

if __name__ == "__main__":
  main()

Q.23) SOLUTION BELOW

In [ ]:
def concatenate_tuples(tuple1, tuple2):
  """Concatenates two tuples.

  Args:
    tuple1: The first tuple.
    tuple2: The second tuple.

  Returns:
    A new tuple containing elements from both input tuples.
  """

  return tuple1 + tuple2

# Example usage:
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)
result = concatenate_tuples(tuple1, tuple2)
print(result)

Q.24) SOLUTION BELOW

In [ ]:
def find_difference(set1, set2):
  """Finds the elements in set1 that are not in set2.

  Args:
    set1: The first set of strings.
    set2: The second set of strings.

  Returns:
    A set containing the elements present in set1 but not in set2.
  """

  return set1.difference(set2)

def main():
  """Prompts the user for input, finds the difference, and prints the result."""

  input1 = input("Enter the first set of strings, separated by commas: ")
  input2 = input("Enter the second set of strings, separated by commas: ")

  set1 = set(input1.split(','))
  set2 = set(input2.split(','))

  difference_set = find_difference(set1, set2)
  print("Elements in the first set but not in the second:", difference_set)

if __name__ == "__main__":
  main()

Q.25) SOLUTION BELOW

In [1]:
def slice_tuple(tuple1, start, end):
  """Slices a tuple within a specified range.

  Args:
    tuple1: The input tuple.
    start: The starting index (inclusive).
    end: The ending index (exclusive).

  Returns:
    A new tuple containing elements within the specified range.
  """

  return tuple1[start:end]

# Example usage:
my_tuple = (1, 2, 3, 4, 5, 6, 7)
start_index = 2
end_index = 5
sliced_tuple = slice_tuple(my_tuple, start_index, end_index)
print(sliced_tuple)

(3, 4, 5)

Q.26) SOLUTION BELOW

In [ ]:
def get_union(set1, set2):
  """Finds the union of two sets of characters.

  Args:
    set1: The first set of characters.
    set2: The second set of characters.

  Returns:
    The union of the two sets.
  """

  return set1.union(set2)

def main():
  """Prompts the user for input, finds the union, and prints the result."""

  input1 = input("Enter the first set of characters, separated by commas: ")
  input2 = input("Enter the second set of characters, separated by commas: ")

  set1 = set(input1.split(','))
  set2 = set(input2.split(','))

  union_set = get_union(set1, set2)
  print("Union:", union_set)

if __name__ == "__main__":
  main()

Q.27) SOLUTION BELOW

In [ ]:
def find_max_min(tuple1):
  """Finds the maximum and minimum values in a tuple.

  Args:
    tuple1: The input tuple.

  Returns:
    A tuple containing the maximum and minimum values.
  """

  max_value = min_value = tuple1[0]

  for num in tuple1:
    max_value = max(max_value, num)
    min_value = min(min_value, num)

  return max_value, min_value

# Example usage:
my_tuple = (10, 5, 20, 15, 8)
max_num, min_num = find_max_min(my_tuple)
print("Maximum value:", max_num)
print("Minimum value:", min_num)

Q.28) SOLUTION BELOW

In [ ]:
def main():
  """Defines two sets of integers and prints their union, intersection, and difference."""

  set1 = {1, 2, 3, 4, 5}
  set2 = {3, 4, 5, 6, 7}

  # Union
  union_set = set1.union(set2)
  print("Union:", union_set)

  # Intersection
  intersection_set = set1.intersection(set2)
  print("Intersection:", intersection_set)

  # Difference 1  (elements in set1 but not in set2)
  difference_set = set1.difference(set2)
  print("Difference (set1 - set2):", difference_set)

if __name__ == "__main__":
  main()

Q,29) SOLUTION BELOW

In [ ]:
def count_occurrences(tuple1, element):
  """Counts the occurrences of an element in a tuple.

  Args:
    tuple1: The input tuple.
    element: The element to count.

  Returns:
    The number of occurrences of the element in the tuple.
  """

  count = 0
  for item in tuple1:
    if item == element:
      count += 1
  return count

# Example usage:
my_tuple = (1, 2, 3, 2, 1, 4, 5, 1)
element_to_count = 1
occurrences = count_occurrences(my_tuple, element_to_count)
print("Number of occurrences:", occurrences)

Q,30) SOLUTION BELOW

In [ ]:
def symmetric_difference(set1, set2):
  """Finds the symmetric difference of two sets.

  Args:
    set1: The first set of strings.
    set2: The second set of strings.

  Returns:
    The symmetric difference of the two sets.
  """

  return set1.symmetric_difference(set2)

def main():
  """Prompts the user for input, finds the symmetric difference, and prints the result."""

  input1 = input("Enter the first set of strings, separated by commas: ")
  input2 = input("Enter the second set of strings, separated by commas: ")

  set1 = set(input1.split(','))
  set2 = set(input2.split(','))

  symmetric_difference_set = symmetric_difference(set1, set2)
  print("Symmetric difference:", symmetric_difference_set)

if __name__ == "__main__":
  main()

Q,31) SOLUTION BELOW

In [ ]:
def word_frequencies(word_list):
  """Counts the frequency of each word in a list.

  Args:
    word_list: A list of words.

  Returns:
    A dictionary where keys are words and values are their frequencies.
  """

  word_count = {}
  for word in word_list:
    word_count[word] = word_count.get(word, 0) + 1
  return word_count

# Example usage:
words = ["apple", "banana", "apple", "orange", "banana", "apple"]
word_freq = word_frequencies(words)
print(word_freq)

Q.32) SOLUTION BELOW

In [ ]:
def merge_dictionaries(dict1, dict2):
  """Merges two dictionaries, adding values for common keys.

  Args:
    dict1: The first dictionary.
    dict2: The second dictionary.

  Returns:
    A new dictionary with merged keys and values.
  """

  merged_dict = dict1.copy()
  for key, value in dict2.items():
    merged_dict[key] = merged_dict.get(key, 0) + value
  return merged_dict

# Example usage:
dict1 = {'a': 1, 'b': 2, 'c': 3}
dict2 = {'b': 4, 'd': 5}
merged_dict = merge_dictionaries(dict1, dict2)
print(merged_dict)

Q.33) SOLUTION BELOW

In [ ]:
def access_nested_value(dictionary, keys):
  """Accesses a nested value in a dictionary.

  Args:
    dictionary: The input dictionary.
    keys: A list of keys to access the nested value.

  Returns:
    The value at the specified nested location, or None if any key is not found.
  """

  value = dictionary
  for key in keys:
    if key in value:
      value = value[key]
    else:
      return None
  return value

# Example usage:
nested_dict = {
    'a': {
        'b': {
            'c': 10
        }
    }
}

keys_to_access = ['a', 'b', 'c']
result = access_nested_value(nested_dict, keys_to_access)
print(result)

keys_to_access = ['a', 'x', 'c']
result = access_nested_value(nested_dict, keys_to_access)
print(result)

Q.34) SOLUTION BELOW

In [ ]:
def sort_dict_by_values(dictionary, ascending=True):
  """Sorts a dictionary by its values.

  Args:
    dictionary: The input dictionary.
    ascending: Whether to sort in ascending order (True) or descending order (False).

  Returns:
    A list of tuples, where each tuple contains a key-value pair from the sorted dictionary.
  """

  sorted_items = sorted(dictionary.items(), key=lambda x: x[1], reverse=not ascending)
  return sorted_items

# Example usage:
my_dict = {'a': 3, 'b': 1, 'c': 5, 'd': 2}

# Sort in ascending order
sorted_asc = sort_dict_by_values(my_dict)
print(sorted_asc)

# Sort in descending order
sorted_desc = sort_dict_by_values(my_dict, False)
print(sorted_desc)

Q.35) SOLUTION BELOW

In [ ]:
def invert_dictionary(dictionary):
  """Inverts a dictionary, swapping keys and values.

  Args:
    dictionary: The input dictionary.

  Returns:
    The inverted dictionary.
  """

  inverted_dict = {}
  for key, value in dictionary.items():
    if value not in inverted_dict:
      inverted_dict[value] = [key]
    else:
      inverted_dict[value].append(key)
  return inverted_dict

# Example usage:
original_dict = {'a': 1, 'b': 2, 'c': 2, 'd': 1}
inverted_dict = invert_dictionary(original_dict)
print(inverted_dict)